<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex w-100">
        <a class="nav-item nav-link" style="align-self: center" href="/urls">My URLs</a>
        <a class="nav-item nav-link" style="align-self: center" href="/urls/new">Create New URL</a>
        <span style="flex:1 1 auto"></span>
        <span style="margin: 0 8px;"> <% if (!user) { %></span>
          <form class="form-inline" action="/register" method="GET">
            <button type="submit" class="btn btn-outline-light" style="margin: -11%">Register</button>
          </form>
        <form class="form-inline" action="/login" method="GET">
            <button type="submit" class="btn btn-outline-light">Login</button>
          </div>
        </form>
        <% } else { %>
          <form class="form-inline" action="/logout" method="POST">
             <span style="margin: 0 8px; color:white"> <%= user.email %></span>
              <button type="submit" class="btn btn-outline-light">Logout</button>
          </form>
        <% } %>
      </div>
    </div>
  </nav>
</header>